{% extends 'index.html' %}
{% block title %}Haqqımızda - ZZTest{% endblock title %}

{% block content %}

<h1 class="display-4 text-center my-5">Haqqımızda</h1>

<main>
    <div class="container col-md-8 col-sm-12">
        <section class="app-description">
            <h2>ZZTest-ə xoş gəlmisiniz</h2>
            <p>
                ZZTest texnologiya dünyasında ən son və ən aktual viktorina mövzularını təqdim edən maraqlı bir veb tətbiqidir.
                Biliyinizi sınamaq, yeni şeylər öyrənmək və cəlbedici viktorinalarımızla əylənmək üçün indi qeydiyyatdan keçin.
            </p>
        </section>

        <section class="how-it-works">
            <h2>Necə İşləyir</h2>
            <p>
                ZZTest sizə aşağıdakıları etməyə imkan verən sadə və intuitiv istifadəçi interfeysi təklif edir:
            </p>
            <ul>
                <li>Qeydiyyatdan keçin və fərdi hesabınızı yaradın.</li>
                <li>Texnologiya sahəsində müxtəlif trend viktorina mövzularından seçin.</li>
                <li>Müddətli viktorinalarda iştirak edin və ZZTest-də özünüzü sıralamaq üçün sualları cavablandırın.</li>
                <li>Tərəqqinizi izləyin və liderlər lövhəsində digər texnologiya həvəskarları ilə rəqabət aparın.</li>
            </ul>
        </section>
    </div>
</main>

{% endblock content %}